<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.win.funstory" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pingLunActivity"
            android:label="@string/title_activity_ping_lun"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".pingLun2Activity" >
        </activity>
        <activity android:name=".pingLun3Activity" >
        </activity>
        <activity android:name=".pingLun4Activity" >
        </activity>
        <activity
            android:name=".pingLun5Activity"
            android:label="@string/title_activity_ping_lun5"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
